pkgbase = aws-assume-role
	pkgdesc = Simple CLI tool to easily switch between AWS IAM roles across different accounts
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/holdennguyen/aws-assume-role
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = aws-cli
	source = aws-assume-role-1.0.2.tar.gz::https://github.com/holdennguyen/aws-assume-role/archive/v1.1.0.tar.gz
	sha256sums = SKIP

pkgname = aws-assume-role 